{% extends 'layout.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}
{% block content %}
	<h1 class="page-header">
		{{ block('title') }}
		{% if is_granted('ROLE_WIKI_EDITOR') %}
			<div class="btn-group pull-right" role="group" aria-label="Действия">
				<a href="{{ path('chitanka_wiki_edit', { page: page.name }) }}" class="btn btn-light btn-sm" title="Редактиране" data-credentials="edit-wiki"><span class="fa fa-pencil"></span></a>
				<a href="{{ path('chitanka_wiki_history', { page: page.name }) }}" class="btn btn-light btn-sm" title="История"><span class="fa fa-list-alt"></span></a>
			</div>
		{% endif %}
	</h1>

	{% if page.hasAncestors %}
		<ol class="breadcrumb" itemprop="breadcrumb">
			{% for ancestor in page.ancestors %}
				<li><a href="{{ path('chitanka_wiki', { page: ancestor.name }) }}"><span class="fa fa-folder-o"></span> {{ ancestor.title }}</a></li>
			{% endfor %}
		</ol>
	{% endif %}

	{% if not page.exists %}
		<p class="alert alert-warning">Страницата все още не съществува.</p>
	{% else %}
		<div class="wiki-content">
			{{ page.contentHtml|raw }}
		</div>
	{% endif %}
{% endblock %}
